In [179]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [163]:
movie_data = pd.read_csv("INDIA/시리즈온_영화_데이터_del_dup_3.csv", encoding = 'utf-8-sig')

In [176]:
movie_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29186 entries, 0 to 29185
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         29186 non-null  object
 1   year          29186 non-null  int64
 2   version       29186 non-null  object
 3   type          29186 non-null  object
 4   director      29186 non-null  object
 5   actor         29186 non-null  object
 6   age           29186 non-null  object
 7   runtime       29186 non-null  int64
 8   rating        29186 non-null  float64
 9   like          29186 non-null  int64
 10  comment       29186 non-null  int64
 11  isDRM         29186 non-null  object
 12  cost          29186 non-null  int64
 13  period        29186 non-null  object
 14  is_action     29186 non-null  int64
 15  is_comedy     29186 non-null  int64
 16  is_drama      29186 non-null  int64
 17  is_melo       29186 non-null  int64
 18  is_horror     29186 non-null  int64
 19  is_fantasy    29186 non-null  int64
 20  is_animation  29186 non-null  int64
 21  is_DQ         29186 non-null  int64
 22  is_indie      29186 non-null  int64
 23  is_concert    29186 non-null  int64
dtypes: float64(1), int64(15), object(8)
memory usage: 5.3+ MB

In [177]:
# 2번
# 평점이 'Null'이거나 '0.0'인 경우를 '0.0'으로 변경하고, 데이터 타입을 float으로 변환
movie_data['rating'] = movie_data['rating'].replace('Null', '0.0').astype(float)

In [166]:
# 'age' 컬럼에서 '청소년 관람불가'를 '19세 관람가'로 변경
movie_data['age'] = movie_data['age'].replace('청소년 관람불가', '19세 관람가')

In [167]:
# 'isDRM' 컬럼에서 'Null'을 'DRM_free'로 변경
movie_data['isDRM'] = movie_data['isDRM'].replace('Null', 'DRM_free')

In [168]:
# 'year' 컬럼에서 'Null'을 0으로 변경
movie_data['year'] = movie_data['year'].replace('Null', 0).astype(float)

movie_data['year'] = movie_data['year'].astype(int)

In [169]:
movie_data['year'] = movie_data['year'].astype('int64')

In [170]:
# 'runtime' 컬럼에서 '분' 제거하고 정수형으로 변환
movie_data['runtime'] = movie_data['runtime'].str.replace('분', '').astype(int)
movie_data['runtime'] = movie_data['runtime'].astype('int64')

In [171]:
# 'like' 컬럼에서 'Null' 값을 '0'으로 치환하고 쉼표를 제거한 후 정수형으로 변환
movie_data['like'] = movie_data['like'].astype(str).replace('Null', '0').str.replace(',', '').astype(float)

movie_data['like'] = movie_data['like'].astype("int64")


# 'cost' 컬럼에서 'Null' 값을 '0'으로 치환하고 쉼표를 제거한 후 정수형으로 변환
movie_data['cost'] = movie_data['cost'].astype(str).replace('Null', '0').str.replace(',', '').astype(float)

movie_data['cost'] = movie_data['cost'].astype('int64')

In [146]:
# 데이터프레임을 CSV 파일로 저장
movie_data.to_csv('processed_data_2.csv', index=False)

In [172]:
movie_data.shape

(29186, 24)